/* Purple Haze RGB = 125, 112, 152 */
/* Generally using alfa = 0.3 in opacity for purple haze*/

/* Background image on Login Page */
#loginPage {
  background: url("https://wallpaperaccess.com/full/2217392.jpg");
  background-size: cover;
}

/* Background image on Homepage */
.backdropImage { display: none; }

.backgroundContainer {
  background-color: rgba(0, 0, 0, 0);
  background-image: url("https://wallpaperaccess.com/full/2217392.jpg");
  filter: blur(5px);
  background-size: cover;
}

/* Enlarging Tab Buttons */
/* Adjust both "size-adjust" and "size" to modify size */
.headerTabs.sectionTabs {text-size-adjust: 110%;  font-size: 110%;}
.pageTitle {margin-top: auto; margin-bottom: auto;}
.emby-tab-button {padding: 1.75em 1.7em;}

/* Played Indicator */
.playedIndicator { background: #5dd000; }

/* TODO Think of better collors */
/*.headerRight { color: yellow; }*/
/*.mainDrawer-scrollContainer { color: yellow; }*/

/* Transparent Top Menu */
.skinHeader.focuscontainer-x.skinHeader-withBackground.skinHeader-blurred {background:none; background-color:rgba(125, 112, 152, 0.3);}
.skinHeader.focuscontainer-x.skinHeader-withBackground.skinHeader-blurred.noHomeButtonHeader {background:none; background-color:rgba(125, 112, 152, 0.3);}

/* Size episode preview images in a more compact way */
.listItemImage.listItemImage-large.itemAction.lazy {height: 110px;}
.listItem-content {height: 115px;}
.secondary.listItem-overview.listItemBodyText {height: 61px; margin: 0;}

/* Icons for configs and options */
span.listItemIcon.material-icons {
    background: var(--accent-icon);
    -webkit-background-clip: text;
    background-clip: text;
    color: green;
}

span.material-icons.detailButton-icon.check.playstatebutton-icon-played,
span.material-icons.detailButton-icon.favorite.ratingbutton-icon-withrating {
    background: var(--accent-text);
    -webkit-background-clip: text;
    background-clip: text;
    color: green;
}


/* ------------- <Cast and Crew Info> ----------------- */
/* Shrink and square (or round) cast thumnails */
#castContent .card.overflowPortraitCard.personCard.card-hoverable.card-withuserdata {width: 4.2cm !important; font-size: 90% !important;}
#castContent .card.overflowPortraitCard.personCard.card-withuserdata {width: 4.2cm !important; font-size: 90% !important;}

/* Correct image aspect ratio behaviour, set border-radius to zero for square tiles */
#castContent .cardContent-button.cardImageContainer.coveredImage.cardContent.cardContent-shadow.itemAction.lazy {background-size: cover; !important; border-radius: 2.5cm;}
#castContent .cardContent-button.cardImageContainer.coveredImage.defaultCardBackground.defaultCardBackground1.cardContent.cardContent-shadow.itemAction {background-size: cover; !important; border-radius: 2.5cm;}
#castContent .cardContent-button.cardImageContainer.coveredImage.defaultCardBackground.defaultCardBackground2.cardContent.cardContent-shadow.itemAction {background-size: cover; !important; border-radius: 2.5cm;}
#castContent .cardContent-button.cardImageContainer.coveredImage.defaultCardBackground.defaultCardBackground3.cardContent.cardContent-shadow.itemAction {background-size: cover; !important; border-radius: 2.5cm;}
#castContent .cardContent-button.cardImageContainer.coveredImage.defaultCardBackground.defaultCardBackground4.cardContent.cardContent-shadow.itemAction {background-size: cover; !important; border-radius: 2.5cm;}
#castContent .cardContent-button.cardImageContainer.coveredImage.defaultCardBackground.defaultCardBackground5.cardContent.cardContent-shadow.itemAction {background-size: cover; !important; border-radius: 2.5cm;}
#castContent .cardScalable {width: 3.8cm !important; height: 3.8cm !important; border-radius: 2.5cm;}
#castContent .cardOverlayContainer.itemAction {border-radius: 2.5cm;}

/* Center the mouseover buttons */
#castContent .cardOverlayButton-br {bottom: 4%; right: 15%; width: 70%;}
#castContent .cardOverlayButton.cardOverlayButton-hover.itemAction.paper-icon-button-light {margin:auto;}
/* ------------- </Cast and Crew Info> ----------------- */


/* ---------- <Minimalistic Login Page> ------------ */
/* Narrow the login form */
#loginPage .readOnlyContent, #loginPage form {max-width: 22em;}

/* Hide "please login" text, margin is to prevent login form moving too far up */
#loginPage h1 {display: none}
#loginPage .padded-left.padded-right.padded-bottom-page {margin-top: 220px}

/* Hide "manual" and "forgot" buttons */
#loginPage .raised.cancel.block.btnManual.emby-button {display: none}
#loginPage .raised.cancel.block.btnForgotPassword.emby-button {display: none}
/* ---------------- </Minimalistic Login Page> -------------- */


/*Rounded corners and square hover buttons*/
.cardContent-button, 
.cardContent-shadow, 
.itemDetailImage, 
.cardOverlayButton-hover, 
.cardOverlayContainer,
.cardImageContainer,
.cardPadder,
.listItemImage,
.listItemImageButton,
.listItemButton,
.headerButton,
.paper-icon-button-light,
.innerCardFooter,
.blurhash-canvas,
.actionSheetMenuItem:hover,
.dialog
{border-radius: 10px !important;}

/*Theme some dialogues*/
.dialog {background-color: rgba(0, 0, 0, 0.9);}
.actionSheetMenuItem:hover {background-color: rgba(0, 164, 220, 0.2);}
.mainDrawer {background-color: rgba(49, 45, 64, 0.9);}
.navMenuOption:hover {background: rgba(0, 164, 220, 0.2);}

/*Tweak series/movie/album title screen*/
.itemProgressBar {height: 2.5px; background: rgba(0,0,0,0); color: green;}
.cardIndicators {right: 0.3em; top: 0.3em;}
.paper-icon-button-light:hover {background-color: rgba(125, 112, 152, 0.3);}

/* ---------- <Hovering Configs> ---------- */
/* Setting up*/
.emby-input,
.emby-textarea {
    color: inherit;
    border: .07em solid #7b7b7b;
    border-radius: 5px;
    box-shadow: 0 0 8px 0px black !important;
    background: rgba(0, 0, 0, 0.2) !important;
    backdrop-filter: blur(60px);
    -webkit-backdrop-filter: blur(60px);
    text-shadow: 0 0 5px black;
}

.emby-select-withcolor {
    border: .07em solid #7b7b7b;
}

.cardIndicators {
    right: 0;
    top: 0;
}

.indicator {
    background: var(--accent) !important;
    border-radius: 0px 0px 0px 5px;
    padding: .1em;
    box-shadow: 0 0 10px 1px black;
    color: white;
}

.indicators {
    right: 0;
    top: 0;
}

/* Main for hovering */
.cardBox {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    box-shadow: 0px 0px 9px 0px rgb(0 0 0);
    transition: background .15s ease-out, box-shadow .15s ease-out;
}

.card:hover .cardBox,
.card:focus .cardBox {
    background: rgba(0, 0, 0, 0.75);
    box-shadow: 0 5px 9px black;
}

.cardScalable {
    overflow: hidden;
}

.raised:hover::before {
    opacity: 100%;
}

.overflowSquareCard .cardImageContainer {
    background-size: 180%;
}

.overflowSquareCard:hover .cardImageContainer {
    background-size: 200%;
}

.overflowSquareCard .cardImageContainer::before {
    content: "";
    background: inherit;
    width: 130%;
    height: 130%;
    position: absolute;
    top: 50%;
    left: 50%;
    background-size: cover;
    -webkit-filter: brightness(40%) blur(10px);
    filter: brightness(40%) blur(10px);
    z-index: 0;
    transform: translate(-50%, -50%);
}

.overflowSquareCard .cardImageContainer::after {
    content: "";
    background: inherit;
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100%;
    transition: all .15s;
}

.overflowSquareCard:hover .cardImageContainer::after {
    background-size: 120%;
}

:not(.detailImageContainer)>.card:not(.overflowSquareCard) .cardImageContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    background-size: cover;
    transition: .15s;
}

:not(.detailImageContainer)>.card:not(.overflowSquareCard):hover .cardImageContainer::before {
    transform: scale(1.2);
}

/* Extras */
.progressring-bg {
    border: .25em solid transparent;
    background: transparent;
}

.itemName.parentNameLast {
    font-size: 35px;
}

#itemDetailPage .button-flat:hover {
    transform: scale(1.5);
}

.button-flat {
    border-radius: 5px !important;
}

.detailButton-content {
    -webkit-filter: drop-shadow(0px 3px 3px black);
    filter: drop-shadow(0px 3px 3px black);
}

.navMenuOption::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--accent);
    z-index: -1;
    left: 0;
    opacity: 0%;
    transition: opacity .2s;
}

.navMenuOption:hover::before {
    opacity: 100%;
}

.navMenuOption .navMenuOptionIcon {
    transition: margin-right .2s;
}

.navMenuOption:hover .navMenuOptionIcon {
    margin-right: 1.5em;
}

.listItem-border.emby-button:hover {
    background: black;
}

.listItem-border.emby-button:hover .listItemIcon {
    margin-right: .65rem;
}

.listItem-border.emby-button .listItemIcon {
    transition: margin-right .2s;
}
/* ---------- </Hovering Configs> ---------- */


/* Mobile setting */
.layout-mobile .card:hover .cardBox {
    background: rgba(0, 0, 0, 0.25) !important;
}

.layout-mobile .cardImageContainer {
    background-size: cover;
}

.layout-mobile .card:hover .cardImageContainer {
    background-size: cover;
}
